@model SUCSA.Models.ActivityPicViewModels

@{
    ViewBag.Title = "Activity Pictures";
}
@using SUCSA.DATA

<link href="~/Content/photobox.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>

<ul id='gallery'>
    @foreach (var item in Model.activities)
    {
        var base64 = Convert.ToBase64String(item.Picture);
        var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
        <li class="loaded">
            <a href=@imgSrc>
                <img src=@imgSrc title="photo1 title">
            </a>
        </li>
    }
</ul>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.photobox.js"></script>

<script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26520680-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $('#gallery').photobox('a', { thumbs: true, loop: false }, callback);
    // using setTimeout to make sure all images were in the DOM, before the history.load() function is looking them up to match the url hash
    setTimeout(window._photobox.history.load, 2000);
    function callback() {
        console.log('callback for loaded content:', this);
    };
    
</script>





