@model SUCSA.Models.ActivityPicViewModels

@{
    ViewBag.Title = "Activity Pictures";
}
@using SUCSA.DATA

<link href="~/Content/photobox.css" rel="stylesheet" type="text/css" />
<div id="wrap">
    @foreach (var list in Model.activities)
    {
        <div>
            <h2>@list.First().Category.CategoryName</h2>
            <ul class='gallery'>
                @foreach (var item in list)
                {

                    var base64 = Convert.ToBase64String(item.Picture);
                    var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                    var base64_another = Convert.ToBase64String(item.Thumbnails);
                    var thumbnail = string.Format("data:image/gif;base64,{0}", base64_another);
                    <li class="loaded" style="list-style:none;display: inline;">
                        <a href=@imgSrc>
                            <img src=@thumbnail title=@item.Description>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.photobox.js"></script>

<script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26520680-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $('.gallery').photobox('a', { thumbs: true, loop: false }, callback);
    // using setTimeout to make sure all images were in the DOM, before the history.load() function is looking them up to match the url hash
    setTimeout(window._photobox.history.load, 2000);
    function callback() {
        console.log('callback for loaded content:', this);
    };
    
</script>





